<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title%></title>
</head>
<body >
    <div class="container">
        <h2><%= title %></h2>
        <form action="/club" method="post">
            <label for="secret" title="hint 1:it contain 3 characters,2: you many notify a strange color in style">Guess the secret to join the club</label>
            <input type="text" name="secret" id="secret" class="you make a good job there is only one step, the secret is the place that you can see this image object in it" required>
            <button type="submit" class="sec">submit</button>
        </form>
    </div>
</body>
</html>